<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= botName %> - a Telegram Bot</title>
    <link rel="stylesheet" href="assets/css/bulma.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="assets/js/jquery-3.6.0.js"></script>
  </head>
  <body>
    <a id="backtotop" data-tippy-content="Back To Top.">
      <i class="fa-solid fa-angle-up has-text-white fa-2xl mt-5"></i>
    </a>

   <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand mt-2 mb-2">
        <a class="navbar-item" href="#">
          <strong><%= botName %></strong>

          <!-- or if you want to use image -->
          <!-- <img
            src="image link or path"
            width="112"
            height="28"
          /> -->
        </a>

        <a
          role="button"
          class="navbar-burger has-text-white"
          data-target="navMenu"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="#" class="navbar-item is-tab">
            Home
          </a>

          <a href="#features" class="navbar-item is-tab">
            Features
          </a>

          <a href="#stats" class="navbar-item is-tab">
            Stats
          </a>

          <a href="#" class="navbar-item is-tab">
            Docs
          </a>
        </div>

        <div class="navbar-end">
          <a href="<%= telegram %>" class="navbar-item is-tab" target="_blank">
            <i class="fa-brands fa-telegram"></i>
          </a>

          <a href="<%= github %>" class="navbar-item is-tab" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>

          <div class="navbar-item">
            <div class="buttons">
              <a href="https://t.me" class="button is-blurple">
                <strong
                  ><i class="fa-solid fa-right-to-bracket mr-2"></i>
                  Login</strong
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <section class="hero bg-base is-fullheight">
      <div class="hero-body">
        <div class="">
          <div class="columns">
            <div class="column mr-6 mt-12" data-aos="fade-up">
              <p class="title has-text-white has-text-weight-bold">
                <%= botName %>.
              </p>
              <p class="subtitle has-text-grey-light is-size-6 mt-3">
                <%= botName %> is a simple Telegram bot created using Telegraf lib, and ITzpire Api for feature.
              </p>
              <div class="buttons">
                <a href="#" class="button is-info">
                  <strong>Try Now</strong>
                </a>

                <a href="#" class="button is-primary is-outlined">
                  <strong><i class="fa-solid fa-crown"></i> Premium</strong>
                </a>
              </div>
            </div>
            <div class="column mt-6" data-aos="fade-left">
              <img
                class="image has-image-centered vert-move mt-4"
                src="assets/img/relaunch_day.svg"
                alt="hero image"
                style="width: 20rem;"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-centered" data-tippy-content="Scroll Down">
        <a href="#features"
          ><i
            class="fa-solid fa-circle-chevron-down fa-lg vert-move2 has-text-white"
          ></i
        ></a>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- Hero Waves Start -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#1a2634"
        fill-opacity="1"
        d="M0,288L24,261.3C48,235,96,181,144,154.7C192,128,240,128,288,149.3C336,171,384,213,432,202.7C480,192,528,128,576,133.3C624,139,672,213,720,213.3C768,213,816,139,864,101.3C912,64,960,64,1008,106.7C1056,149,1104,235,1152,240C1200,245,1248,171,1296,144C1344,117,1392,139,1416,149.3L1440,160L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"
      ></path>
    </svg>
    <!-- Hero Waves End -->

    <!-- Features Section Start -->
    <section id="features" class="section mt-6">
      <div class="has-text-centered">
        <h1 class="title lined">Features</h1>
        <div class="line line-center blurple"></div>
      </div>

      <!-- single feature start (Left) -->
      <div class="single-feature">
        <div class="columns mt-6">
          <div class="column mr-6">
            <h4 class="title">Feature <span class="blurple">AI</span></h4>
            <p class="subtitle mt-3">
                in <%= botName %> there is a useful AI feature to help you find information, or other things.
            </p>
          </div>
          <div class="column" data-aos="fade-left">
            <img
              class="image has-image-centered"
              src="assets/img/AI.svg"
              alt="feature1 img"
              style="width: 23rem;"
            />
          </div>
        </div>
      </div>
      <!-- single feature end (Left) -->

      <!-- single feature start (Right) -->
      <div class="single-feature">
        <div class="columns mt-6">
          <div class="column" data-aos="fade-right">
            <img
              class="image has-image-centered"
              src="assets/img/Tools.svg"
              alt="feature1 img"
              style="width: 23rem;"
            />
          </div>
          <div class="column">
            <h4 class="title">
              Feature <span class="has-text-primary">Tools</span>
            </h4>
            <p class="subtitle mt-3">
               In <%= botName %> there is also a tools feature, this feature can help you to extract text from an image, text to sound, etc.
            </p>
          </div>
        </div>
      </div>
      <!-- single feature end (Right) -->

      <!-- single feature start (Left) -->
      <div class="single-feature">
        <div class="columns mt-6">
          <div class="column mr-6">
            <h4 class="title">
              Feature <span class="has-text-warning">Stalk</span>
            </h4>
            <p class="subtitle mt-3">
            	Not only that, <%= botName %> also has a Stalk feature, which helps users to search for other people's information anonymously with the available stalk feature.
            </p>
          </div>
          <div class="column" data-aos="fade-left">
            <img
              class="image has-image-centered"
              src="assets/img/Search.svg"
              alt="feature1 img"
              style="width: 23rem;"
            />
          </div>
        </div>
      </div>
      <!-- single feature end (Left) -->

      <!-- single feature start (Right) -->
      <div class="single-feature">
        <div class="columns mt-6">
          <div class="column" data-aos="fade-right">
            <img
              class="image has-image-centered"
              src="assets/img/Download.svg"
              alt="feature1 img"
              style="width: 23rem;"
            />
          </div>
          <div class="column">
            <h4 class="title">Feature <span class="has-text-info">Downloader</span></h4>
            <p class="subtitle mt-3">
            	In <%= botName %> there is also a Downloader feature, this feature helps you to download media from the platform you like.
            </p>
          </div>
        </div>
      </div>
      <!-- single feature end (Right) -->
    </section>
    <!-- Features Section End -->

    <!-- Stats Section Start -->
    <section id="stats" class="section mt-6">
      <div class="has-text-centered">
        <h1 class="title lined">Stats</h1>
        <div class="line line-center blurple"></div>
      </div>

      <div class="columns mt-6">
        <div class="column has-text-centered">
          <p class="title has-text-weight-bold lined">000</p>
          <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-server"></i> Uptime</span>
        </div>

        <div class="column has-text-centered">
          <p class="title has-text-weight-bold lined"><%= totalFeatures %></p>
          <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-terminal"></i> Commands</span>
        </div>

        <div class="column has-text-centered">
          <p class="title has-text-weight-bold lined"><%= totalUsers %></p>
          <span class="subtitle has-text-weight-bold blurple"><i class="fa-solid fa-users"></i> Users</span>
        </div>
      </div>
    </section>
    <!-- Stats Section End -->

    <!-- Invite Section Start -->
    <section class="section mt-6">
      <div class="columns">
        <div class="column has-text-left">
          <p class="title has-text-weight-bold">
            Ready to try <span class="blurple"><%= botName %></span>?
          </p>
          <p class="subtitle mt-3 has-text-gray">
          Explore the interesting features of the bot, click the button below.
          </p>
          <a href="#" class="button is-blurple is-medium"
            ><strong><i class="fa-solid fa-robot"></i> Get Started</strong></a
          >
        </div>

        <div class="column"></div>
      </div>
    </section>
    <!-- Invite Section End -->

    <!-- Footer Section Start -->
    <footer class="footer bg-base">
      <div class="content has-text-centered has-text-white">
        <div class="mb-2">
          <a href="<%= telegram %>" class="has-text-white" target="_blank">
            <i class="fa-brands fa-telegram"></i>
          </a>
          &nbsp; &nbsp;
          <a href="<%= github %>" class="has-text-white" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>

        <p>
          <span class="has-text-weight-bold"><%= botName %></span>
          <br />
          &copy; <span id="cp-year"></span> Copyright <%= ownerName %>. All Rights
          Reserved.
        </p>

      </div>
    </footer>
    <!-- Footer Section End -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
